<div class="container-fluid mainImg mB">
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="../../assets/brand-logo.png" width="120" alt="Brand Logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link text-uppercase text-white float-right" href="#">services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-uppercase text-white float-right" href="#">get pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-uppercase text-white float-right" href="#">contact us</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-sm-12">
            <h2>Privacy Notice</h2>
            <p class="text-justify">This privacy notice discloses the privacy practices for
                <a href="#"> Compufy Technology LLC</a>. This privacy notice applies solely to information collected by this website. It will notify you of the following:</p>
            <ol>
                <li>What personally identifiable information is collected from you through the website, how it is used and with whom it may be shared.</li>
                <li>What choices are available to you regarding the use of your data.</li>
                <li>The security procedures in place to protect the misuse of your information.</li>
                <li>How you can correct any inaccuracies in the information.</li>
            </ol>

            <h4 class="text-secondary">Information Collection, Use, and Sharing</h4>
            <p class="text-justify">We are the sole owners of the information collected on this site. We only have access to/collect information that you voluntarily give us via email or other direct contact from you. We will not sell or rent this information to anyone.</p>
            <p class="text-justify">We will use your information to respond to you, regarding the reason you contacted us. We will not share your information with any third party outside of our organization, other than as necessary to fulfill your request, e.g. to ship an order.</p>
            <p class="text-justify">Unless you ask us not to, we may contact you via email in the future to tell you about specials, new products or services, or changes to this privacy policy.</p>

            <h4 class="text-secondary">Your Access to and Control Over Information</h4>
            <p class="text-justify">You may opt out of any future contacts from us at any time. You can do the following at any time by contacting us via the email address or phone number given on our website:</p>
            <ul>
                <li class="text-justify">See what data we have about you, if any.</li>
                <li class="text-justify">Change/correct any data we have about you.</li>
                <li class="text-justify">Have us delete any data we have about you.</li>
                <li class="text-justify">Express any concern you have about our use of your data.</li>
            </ul>

            <h4 class="text-secondary">Security</h4>
            <p class="text-justify">We take precautions to protect your information. When you submit sensitive information via the website, your information is protected both online and offline.</p>
            <p class="text-justify">Wherever we collect sensitive information (such as credit card data), that information is encrypted and transmitted to us in a secure way. You can verify this by looking for a lock icon in the address bar and looking for "https" at the beginning
                of the address of the Web page.</p>
            <p class="text-justify">While we use encryption to protect sensitive information transmitted online, we also protect your information offline. Only employees who need the information to perform a specific job (for example, billing or customer service) are granted
                access to personally identifiable information. The computers/servers in which we store personally identifiable information are kept in a secure environment.</p>
            <p class="text-justify font-weight-bold">If you feel that we are not abiding by this privacy policy, you should contact us immediately via telephone at <span class="text-info">+1-888-504-3178</span> or via email at <span class="text-info">info@compufytechnologyllc.com</span>.</p>
        </div>
        <div class="col-12 col-sm-12">

        </div>
    </div>
</div>

<div class="container-fluid bg-dark">
    <div class="container text-white pt-4 pb-3">
        <div class="row">

            <div class="col-12 col-sm-12 text-center mb-5">
                <a class="navbar-brand" href="#">
                    <img src="../../assets/brand-logo.png" width="200" alt="Brand Logo">
                </a>
            </div>

            <div class="col-12 col-sm-6 col-md-3 mb-3">
                <h5 class="text-uppercase font-weight-bold mb-3">company</h5>
                <p>About Us</p>
                <p>Career</p>
                <p>Blog</p>
                <p class="ptr" (click)="goToPolicy()">Privacy Policy</p>
                <p class="ptr" (click)="goToEPay()">Pay via e-Check</p>
            </div>

            <div class="col-12 col-sm-6 col-md-3 mb-3">
                <h5 class="text-uppercase font-weight-bold mb-3">product</h5>
                <p>Customer Service</p>
                <p>Enterprise</p>
                <p>Price</p>
                <p>Secutiry</p>
                <p>Why <span class="text-uppercase">compufy</span>?</p>
            </div>

            <div class="col-12 col-sm-6 col-md-3 mb-3">
                <h5 class="text-uppercase font-weight-bold mb-3">download app</h5>
                <p>Android App</p>
                <p>iOS App</p>
                <p>Windows App</p>
            </div>

            <div class="col-12 col-sm-6 col-md-3 mb-3">
                <h5 class="text-uppercase font-weight-bold mb-3">location</h5>
                <p>141-07 20th Avenue Suite 508,Whitestone,NY,11357</p>
                <h5 class="text-uppercase font-weight-bold mb-3">email</h5>
                <p href="mailto:info@compufytechnologyllc.com" class="ptr">info@compufytechnologyllc.com</p>
            </div>
            <div class="col-12 col-sm-12 text-center mt-3">
                <a href="www.facebook.com">
                    <img src="../../assets/social/facebook.png" alt="Facebook Link" width="30">
                </a>
                <a href="www.linkedin.com">
                    <img src="../../assets/social/linkedin.png" class="mx-3" alt="LinkedIn Link" width="30">
                </a>
                <a href="www.twitter.com">
                    <img src="../../assets/social/twitter.png" alt="Twitter Link" width="30">
                </a>
                <a href="www.pinterest.com">
                    <img src="../../assets/social/pinterest.png" class="mx-3" alt="Pinterest Link" width="30">
                </a>
                <a href="www.quora.com">
                    <img src="../../assets/social/quora.png" alt="Quora Link" width="30">
                </a>

            </div>
            <div class="col-12 col-sm-12 border-top pt-3 mt-5 text-center">
                <h5><span class="text-success">Crafted by</span><span class="text-uppercase ptr"> compufy</span></h5>
            </div>
        </div>
    </div>
</div>