<div class="container-fluid mainImg mB">
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="../../assets/brand-logo.png" width="120" alt="Brand Logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link text-uppercase text-white float-right" href="#">services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-uppercase text-white float-right" href="#">get pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-uppercase text-white float-right" href="#">contact us</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-sm-12">
            <h2 class="mb-5">FAQ – Frequently Asked Questions about <span class="text-uppercase">refunds</span></h2>

            <h4 class="text-secondary">How long does it take to receive the refund?</h4>
            <p class="text-justify">Compufy will grant the refund as soon as it is requested. We’ll have a check/money order sent to you by mail within 5 days, or you’ll see the refund on your credit card statement with the next billing cycle. If there are no exceptional mail
                delays, you should expect to receive your refund within 20 days from your request.</p>

            <h4 class="text-secondary">What happens if I decide to upgrade within 30 days, since I bought one of your products? Do I need to pay the full upgrade price?</h4>
            <p class="text-justify">If you decide to upgrade your product to a higher edition within 30 days since purchase, you’ll only need to pay the difference in price from the edition you bought to the edition you’d like to upgrade to. Just email at <span class="text-info">info@Compufytechnologyllc.com</span>                with your receipt details and we will gladly help you upgrade.
            </p>

            <h4 class="text-secondary">What if I ask for a refund and later I want to purchase one of Compufy’s products?</h4>
            <p class="text-justify">We will gladly accept you again as a customer. If you decide to return a product, please allow 30 days for the bill cycle to archive your previous purchase and we’ll welcome you on-board (again).</p>

            <h4 class="text-secondary">Exactly how much will I get back if I request a refund?</h4>
            <p class="text-justify">You will get a check/money order or credit card refund for the partially amount we charged as we mentioned in the invoice you received.</p>

            <h4 class="text-secondary">Are there any non-refundable fees?</h4>
            <p class="text-justify">There may be some transaction fees charged by your credit card or bank we will not reimburse. We will, however, issue a check/money order or credit card refund for the full purchase amount.</p>
        </div>
        <div class="col-12 col-sm-12">

        </div>
    </div>
</div>

<div class="container-fluid bg-dark">
    <div class="container text-white pt-4 pb-3">
        <div class="row">

            <div class="col-12 col-sm-12 text-center mb-5">
                <a class="navbar-brand" href="#">
                    <img src="../../assets/brand-logo.png" width="200" alt="Brand Logo">
                </a>
            </div>

            <div class="col-12 col-sm-6 col-md-3 mb-3">
                <h5 class="text-uppercase font-weight-bold mb-3">company</h5>
                <p>About Us</p>
                <p>Career</p>
                <p>Blog</p>
                <p class="ptr" (click)="goToPolicy()">Privacy Policy</p>
                <p class="ptr" (click)="goToEPay()">Pay via e-Check</p>
            </div>

            <div class="col-12 col-sm-6 col-md-3 mb-3">
                <h5 class="text-uppercase font-weight-bold mb-3">product</h5>
                <p>Customer Service</p>
                <p>Enterprise</p>
                <p>Price</p>
                <p>Secutiry</p>
                <p>Why <span class="text-uppercase">compufy</span>?</p>
            </div>

            <div class="col-12 col-sm-6 col-md-3 mb-3">
                <h5 class="text-uppercase font-weight-bold mb-3">download app</h5>
                <p>Android App</p>
                <p>iOS App</p>
                <p>Windows App</p>
            </div>

            <div class="col-12 col-sm-6 col-md-3 mb-3">
                <h5 class="text-uppercase font-weight-bold mb-3">location</h5>
                <p>141-07 20th Avenue Suite 508,Whitestone,NY,11357</p>
                <h5 class="text-uppercase font-weight-bold mb-3">email</h5>
                <p href="mailto:info@compufytechnologyllc.com" class="ptr">info@compufytechnologyllc.com</p>
            </div>
            <div class="col-12 col-sm-12 text-center mt-3">
                <a href="www.facebook.com">
                    <img src="../../assets/social/facebook.png" alt="Facebook Link" width="30">
                </a>
                <a href="www.linkedin.com">
                    <img src="../../assets/social/linkedin.png" class="mx-3" alt="LinkedIn Link" width="30">
                </a>
                <a href="www.twitter.com">
                    <img src="../../assets/social/twitter.png" alt="Twitter Link" width="30">
                </a>
                <a href="www.pinterest.com">
                    <img src="../../assets/social/pinterest.png" class="mx-3" alt="Pinterest Link" width="30">
                </a>
                <a href="www.quora.com">
                    <img src="../../assets/social/quora.png" alt="Quora Link" width="30">
                </a>

            </div>
            <div class="col-12 col-sm-12 border-top pt-3 mt-5 text-center">
                <h5><span class="text-success">Crafted by</span><span class="text-uppercase ptr"> compufy</span></h5>
            </div>
        </div>
    </div>
</div>